/* Algebra Font lmao */
@font-face {
    font-family: 'Stolzl';
    src: url('/font/Stolzl-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/font/Stolzl-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/font/Stolzl-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url('/font/Stolzl-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/font/Stolzl-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('/font/Stolzl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: #151515;
    --orange: rgb(226,117,38);
    --pink: rgb(191,26,102);
    --link-color: var(--pink);
    --link-hover-color: var(--pink);
    --orange-pink-gradient: linear-gradient(30deg, var(--orange) 0%, var(--pink) 100%);
    --paragraph-color-2: #404040;
    --back: cubic-bezier(0.34, 1.56, 0.64, 1);

    font-family: "Stolzl", sans-serif;
}

html {
    background: var(--black);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    contain: paint;
}

* {
    margin: 0;
    padding: 0;
}

.pageGrid {
    display: grid;
    grid-template-areas: "header"
                         "content"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 6rem 1fr auto;
    min-height: 100vh;
}

.header, .navbar, .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--black);
}

.header {
    grid-column-start: header;

    background-color: var(--black);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.navbar {
    min-height: 2rem;
    overflow-y: clip;
    display: flex;
    padding-bottom: 0.5em;
}

.content {
    background: white;
    padding: 2rem 10vw;
}

.footer {
    font-size: 0.8rem;
    color: grey;
    padding: 1.5rem;
    flex-flow: column nowrap;
}

.budi-izvrstan {
    margin-bottom: 1rem;

    font-size: 1.75rem;
    font-weight: bold;
    color: white;

    text-align: center;
    text-transform: uppercase;

    span {
        color: var(--link-hover-color);
        background: var(--orange-pink-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.logo {
    background: url("https://www.algebra.hr/wp-content/uploads/2021/10/Algebra_glavni.svg") no-repeat center/contain;
    width: 14rem;
    min-height: 4rem;
    transform: translateY(-15%);
    z-index: 10;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    color: #fff;
    font-weight: 1000;
    text-align: center;
    font-size: 16px;
}

.navbar-item[style]::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    background: var(--icon) no-repeat center/contain;
}

.navbar-item:hover {
    color: var(--link-hover-color);
    background: var(--orange-pink-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
        background-color: var(--orange-pink-gradient);
    }
}

#hamburgerButton {
    display: none;
    background: var(--black);
    margin: 0;
    padding: .6em 0;

    img {
        filter: invert(1);
        opacity: 1;
        height: 1rem;
    }
}

h1 {
    color: var(--pink);
    text-align: center;
    margin: 1em 0 1em 0;
}

h2, h3, h4, h5, h6 {
    color: #313131;
    margin-bottom: 1em;
}

p {
    font-size: 1.2em;
    margin: 1em 6vw;
    text-align: justify;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

#loginButton, #logoutButton {
    position: absolute;
    right: 1rem;
}

.video-container, .img-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;

    flex-direction: column;
    border-radius: min(10vw, 2rem);
    overflow: hidden;
    width: auto;
    margin: 0 .5em 1.5rem .5em;
    position: relative;
    border: solid 3px rgba(0,0,0,10%);

    color: white;
    font-size: clamp(2.4rem, 4vw, 3.2rem);
    font-weight: bold;
    text-shadow: 3px 3px 0 #000;
    text-align: center;

    padding: 2em;

    * {
        max-width: 80%;
    }
}

.img-header {
    background-image: var(--src);
    background-color: rgba(0,0,0,25%);
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

    z-index: 2;
}

.video-container {
    * {
        z-index: 2;
        padding: 0.2em;
    }

    video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        z-index: 1;
    }
}

.container {
    background: rgba(0,0,0,2%);
    border: solid 3px rgba(0,0,0,5%);
    border-radius: .7em;

    padding: 1em;
}

.dark-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 150;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0);
    backdrop-filter: blur(0);
    transition: background-color .5s ease, backdrop-filter .5s ease;
}

.fade-in {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
}

.closed {
    opacity: 0;
    transform: scale(0.5) !important;
}

.login-dialog {
    display: flex;
    background: white;
    border: solid 3px rgba(0,0,0,15%);
    min-width: 4em;
    z-index: 151;
    position: sticky;
    top: 50vh;
    left: 50vw;
    width: 400px;
    padding: 1em;

    flex-direction: column;
    gap: 0.5em;

    border-radius: .8em;

    --item-border-radius: 0.5rem;

    transform-origin: center;
    translate: -50% -50%;
    transform: scale(1);
    transition: transform .4s var(--back), opacity .3s ease;

    .close {
        content: "";
        background: url("/icon/icons8-close-48.png") no-repeat center/contain;
        filter: invert(1);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        position: absolute;
        align-self: end;
        width: 2em;
        aspect-ratio: 1;

        transform-origin: center;
        transition: all .2s var(--back);

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    h2 {
        margin-bottom: 0.5em;
    }

    label {
        font-size: 1.1em;
        margin-bottom: 0.2em;
    }

    label[for="register"] {
        text-align: center;
    }

    input[type="text"], input[type="password"] {
        background: rgba(0,0,0,5%);
        border: 2px solid rgba(0,0,0,10%);
        outline: 0 solid var(--pink);
        border-radius: var(--item-border-radius);
        margin-bottom: 1em;
        padding: 0.5em 1em 0.5em 1em;
        font-family: Stolzl, sans-serif;
        font-size: 1.1em;

        transition: all 0.05s ease;

        &:focus {
            outline: 3px solid var(--pink);
        }
    }

    input[type="submit"] {
        padding: .5em;

        background: var(--pink);
        border: 2px solid rgba(0,0,0,10%);
        border-radius: var(--item-border-radius);

        font-family: Stolzl, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        color: white;
        text-transform: uppercase;

        transition: all 0.15s ease;

        &:hover {
            cursor: pointer;
            background: color-mix(in srgb, var(--pink) 80%, white 20%);
        }

        &:active {
            background: color-mix(in srgb, var(--pink) 80%, black 20%);
        }
    }
}

.loader {
    aspect-ratio: 2;
    height: 2em;
}

@keyframes textIn {
    from { transform: translateY(.5em); }
    to { transform: translateY(0); }
}

@keyframes textIn2 {
    from { opacity: 0; }
    to { opacity: 1; }
}

.text-appear {
    opacity: 0;
    animation: textIn .5s  .5s forwards, textIn2 1s cubic-bezier(0.34, 1.56, 0.64, 1) .5s forwards;
}

@media (max-width: 928px) {
    #loginButton, #logoutButton {
        position: relative;
        top: 0;
        right: 0;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: .8em;
    }

    .content {
        padding: 2rem 2vw;
    }

    .navbar {
        display: none;
        flex-direction: column;

        &.expand {
            display: flex;
        }
    }

    .navbar-item {
        margin: 0.5em 0;
        width: 100%;
    }

    #hamburgerButton {
        display: flex;
    }
}