.header-navbar {
    position: sticky;
    top: 7.3rem;

    min-height: 2rem;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 1.2em;
    z-index: 90;

    margin-top: 1em;

}

.header-navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .25em .5em .25em;
    padding: 0.5em 1em;
    color: #fff;
    font-weight: 1000;
    text-align: center;
    
    background-color: var(--black);
    border-radius: 999em;
}

.header-navbar-item:hover {
    color: var(--link-hover-color);
    text-decoration: none;

    &::before {
        background-color: var(--link-hover-gradient);
    }
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: auto;
    flex-flow: row wrap;
    margin-top: 2em;
}

.grid-view-item {
    flex: 1;
    padding: 1.5em 2em;
    margin: .8em;
    align-self: stretch;

    font-size: .92em;



    p {
        color: var(--paragraph-color-2);
        margin: 1em 0 0 0;
    }

    .year {
        color: var(--pink);
        font-size: 1.14em;
        padding-right: 0.3em;
    }
}

/* Hack za jump to section offset */
.section {
    padding-top: 9.5rem;
    margin-top: -9.5rem;
    display: inline-block; /* required for webkit browsers */
    min-width: 100%;
    max-width: 100%;
}

@keyframes partnersAnim {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.partners {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 4em 0 2em -10vw;
    animation: partnersAnim 25s linear infinite;
    width: fit-content;
}

.partners-view-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;

    margin-right: 1em;

    img {
        height: 3em;
    }

    padding: 1.4em;
}

.twocolumn-grid-view {
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1526px) {
    .grid-view {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
}

@media (max-width: 1080px) {
    .grid-view {
        grid-template-columns: 1fr;
    }
}