/* Algebra Font lmao */
@font-face {
    font-family: 'Stolzl';
    src: url('font/Stolzl-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('font/Stolzl-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('font/Stolzl-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url('font/Stolzl-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('font/Stolzl-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('font/Stolzl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background: black;
}

:root {
    --orange: rgb(226,117,38);
    --pink: rgb(191,26,102);
    --link-color: var(--pink);
    --link-hover-color: var(--orange);
    --link-hover-gradient: linear-gradient(30deg, var(--orange) 0%, var(--pink) 100%);
    font-family: "Stolzl", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.pageGrid {
    display: grid;
    grid-template-areas: "header"
                         "content"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header, .navbar, .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #000;
}

.header {
    min-height: 4rem;
    background-color: #000;
    flex-direction: column;
}

nav {
    width: 100%;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
}

.navbar {
    min-height: 2rem;
    overflow-y: hidden;
    display: flex;
}

.content {
    background: white;
    padding: 2rem;
}

.footer {
    font-size: 0.8rem;
    color: grey;
    padding: .5rem;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    color: #fff;
    font-weight: 1000;
    text-align: center;
}

.navbar-item[style]::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    background: var(--icon) no-repeat center/contain;
}

.navbar-item:hover {
    color: var(--link-hover-color);
    background: var(--link-hover-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
        background-color: var(--link-hover-gradient);
    }
}

#nastavniPlan {
    display: none;

    &.isLoggedIn {
        display: inline-block;
    }
}

#hamburgerButton {
    display: none;
    margin: 0;
    padding: .6em 0;

    img {
        filter: invert(1);
        opacity: 1;
        height: 1rem;
    }
}

.logo {
    background: url("https://www.algebra.hr/wp-content/uploads/2021/10/Algebra_glavni.svg") no-repeat center/contain;
    width: 14rem;
    height: 4rem;
    transform: translateY(-15%);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

#loginButton {
    position: absolute;
    right: 1rem;
}

.img-container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    overflow: hidden;
}

@media (max-width: 928px) {
    #loginButton {
        position: relative;
        top: 0;
        right: 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;

        &.expand {
            display: flex;
        }
    }

    .navbar-item {
        margin: 0.5rem 0;
        width: 100%;
    }

    #hamburgerButton {
        display: flex;
    }
}